<form class="filter" method="get" action="/">
  <input type="text" name="filter" value="<%= @filter %>">
  <input value="Filter" type="submit">
</form>

<div class="keys">
  <% @lines.each do |line| %>
    <div class="key">
      <a href="/<%= line %>"><%= line %></a>

      <form method="post" action="/<%= line %>" style="display: inline">
        <input type="hidden" name="_method" value="delete">
        <input value="Delete" type="submit">
      </form>
    </div>
  <% end %>
</div>
