<head>
  <title>membrowse</title>
  <link rel="stylesheet" href="/screen.css">

<body> 
  <header>
    <h1><a href="/">membrowse</a></h1>
    <form method="post" action="/flush">
      <input value="Flush" type="submit">
    </form>
  </header>

  <%= yield %>
